{
    "env": {
      "jest": true
    },
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
      "no-var": 0,
      "@typescript-eslint/no-explicit-any": 0,
      "@typescript-eslint/no-namespace" : 0,
      "@typescript-eslint/no-inferrable-types" : 0,
      "@typescript-eslint/ban-types" : 0
    }
  }